<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="/src/styles/sidebar.css" />
		<meta name="generator" content={Astro.generator} />
		<title>Lebenslauf</title>
	</head>
	<body>
    <div class="cv">
      <aside class="sidebar">
        <slot name="sidebar" />
      </aside>

      <main class="content">
        <slot />
      </main>
    </div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	.cv {
		display: grid;
		grid-template-columns: 250px 1fr;
		max-width: 1000px;
		margin: auto;
		background: rgba(233, 230, 230, 0.596);
		color: #111827;
	}

	.sidebar {
		background: #3f4a54;
		color: white;
		padding: 20px;
	}

	.content {
		padding: 30px;
	}
</style>